<div class="wiki-ad">
  <div class="global-container">
    <div class="pv-huge">
      <div class="text-center"><img
          src="{{asset 'images/group-277.svg'}}"
          loading="lazy"
          style="opacity:0"
          data-w-id="b5beccef-e782-fedf-780a-51330bf42a05"
          alt=""
          class="category_footer-graph"
        /></div>
    </div>
  </div>
</div>