<div class="fb-window">
  <!-- Title Bar -->
  <div class="fb-titlebar">
    <div class="fb-titlebar-dots">
      <span class="fb-dot fb-dot--close" title="Cerrar"></span>
      <span class="fb-dot fb-dot--minimize" title="Minimizar"></span>
      <span class="fb-dot fb-dot--maximize" title="Maximizar"></span>
    </div>
    <span class="fb-titlebar-title">421 &mdash; Explorador de archivos</span>
    <div class="fb-titlebar-spacer"></div>
  </div>

  <!-- Toolbar -->
  <div class="fb-toolbar">
    <button class="fb-toolbar-btn is-disabled" data-action="back" title="Atr&aacute;s">
      <span>&#8592;</span>
    </button>
    <a href="/es/" class="fb-toolbar-btn" title="Inicio">
      <span>&#8962;</span>
    </a>
    <div class="fb-toolbar-separator"></div>
    <a href="/es/" class="fb-toolbar-btn" title="Recargar">
      <span>&#8635;</span>
    </a>
  </div>

  <!-- Path Bar -->
  <div class="fb-pathbar">
    <a href="/es/" class="fb-pathbar-segment">
      <i class="fb-icon">&#128187;</i> home
    </a>
    <span class="fb-pathbar-separator">/</span>
    <a href="/es/" class="fb-pathbar-segment is-active">421</a>
    <span class="fb-pathbar-separator">/</span>
  </div>

  <!-- Body: Sidebar + Content -->
  <div class="fb-body">

    <!-- Sidebar -->
    <aside class="fb-sidebar">
      <div class="fb-sidebar-heading">Marcadores</div>
      <a href="/es/" class="fb-sidebar-item">
        <i class="fb-icon">&#127968;</i> Inicio
      </a>
      <a href="/es/tag/cultura" class="fb-sidebar-item">
        <i class="fb-icon">&#127912;</i> Cultura
      </a>
      <a href="/es/tag/tecnologia" class="fb-sidebar-item">
        <i class="fb-icon">&#128268;</i> Tecnolog&iacute;a
      </a>
      <a href="/es/tag/juegos" class="fb-sidebar-item">
        <i class="fb-icon">&#127918;</i> Juegos
      </a>
      <a href="/es/tag/vida-real" class="fb-sidebar-item">
        <i class="fb-icon">&#127758;</i> Vida real
      </a>

      <div class="fb-sidebar-divider"></div>
      <div class="fb-sidebar-heading">Sistema</div>
      <a href="/es/rutas" class="fb-sidebar-item">
        <i class="fb-icon">&#129517;</i> Rutas
      </a>
      <a href="/es/canon" class="fb-sidebar-item">
        <i class="fb-icon">&#128218;</i> Canon
      </a>
      <a href="/es/suscribite" class="fb-sidebar-item">
        <i class="fb-icon">&#128231;</i> Suscribite
      </a>
      <a href="/es/revista-421" class="fb-sidebar-item">
        <i class="fb-icon">&#128214;</i> Revista
      </a>
    </aside>

    <!-- Content Area -->
    <div class="fb-content">

      <!-- Grid View -->
      <div class="fb-content-grid">
        <!-- Main Folders (Primary Categories) -->
        <a href="/es/tag/cultura" class="fb-item fb-item--folder" data-tag="cultura">
          <span class="fb-item-icon">&#128193;</span>
          <span class="fb-item-name">cultura/</span>
        </a>
        <a href="/es/tag/tecnologia" class="fb-item fb-item--folder" data-tag="tecnologia">
          <span class="fb-item-icon">&#128193;</span>
          <span class="fb-item-name">tecnologia/</span>
        </a>
        <a href="/es/tag/juegos" class="fb-item fb-item--folder" data-tag="juegos">
          <span class="fb-item-icon">&#128193;</span>
          <span class="fb-item-name">juegos/</span>
        </a>
        <a href="/es/tag/vida-real" class="fb-item fb-item--folder" data-tag="vida-real">
          <span class="fb-item-icon">&#128193;</span>
          <span class="fb-item-name">vida-real/</span>
        </a>

        <!-- Secondary Folders (Tags) -->
        <a href="/es/tag/cripto" class="fb-item fb-item--folder" data-tag="cripto">
          <span class="fb-item-icon">&#128194;</span>
          <span class="fb-item-name">cripto/</span>
        </a>
        <a href="/es/tag/deportes" class="fb-item fb-item--folder" data-tag="deportes">
          <span class="fb-item-icon">&#128194;</span>
          <span class="fb-item-name">deportes/</span>
        </a>
        <a href="/es/tag/filosofia" class="fb-item fb-item--folder" data-tag="filosofia">
          <span class="fb-item-icon">&#128194;</span>
          <span class="fb-item-name">filosofia/</span>
        </a>
        <a href="/es/tag/historieta" class="fb-item fb-item--folder" data-tag="historieta">
          <span class="fb-item-icon">&#128194;</span>
          <span class="fb-item-name">historieta/</span>
        </a>
        <a href="/es/tag/internet" class="fb-item fb-item--folder" data-tag="internet">
          <span class="fb-item-icon">&#128194;</span>
          <span class="fb-item-name">internet/</span>
        </a>
        <a href="/es/tag/libros" class="fb-item fb-item--folder" data-tag="libros">
          <span class="fb-item-icon">&#128194;</span>
          <span class="fb-item-name">libros/</span>
        </a>
        <a href="/es/tag/magic-the-gathering" class="fb-item fb-item--folder" data-tag="magic-the-gathering">
          <span class="fb-item-icon">&#128194;</span>
          <span class="fb-item-name">mtg/</span>
        </a>
        <a href="/es/tag/memes" class="fb-item fb-item--folder" data-tag="memes">
          <span class="fb-item-icon">&#128194;</span>
          <span class="fb-item-name">memes/</span>
        </a>
        <a href="/es/tag/musica" class="fb-item fb-item--folder" data-tag="musica">
          <span class="fb-item-icon">&#128194;</span>
          <span class="fb-item-name">musica/</span>
        </a>
        <a href="/es/tag/peliculas" class="fb-item fb-item--folder" data-tag="peliculas">
          <span class="fb-item-icon">&#128194;</span>
          <span class="fb-item-name">peliculas/</span>
        </a>
        <a href="/es/tag/series" class="fb-item fb-item--folder" data-tag="series">
          <span class="fb-item-icon">&#128194;</span>
          <span class="fb-item-name">series/</span>
        </a>
        <a href="/es/tag/soberania" class="fb-item fb-item--folder" data-tag="soberania">
          <span class="fb-item-icon">&#128194;</span>
          <span class="fb-item-name">soberania/</span>
        </a>
        <a href="/es/tag/tutoriales" class="fb-item fb-item--folder" data-tag="tutoriales">
          <span class="fb-item-icon">&#128194;</span>
          <span class="fb-item-name">tutoriales/</span>
        </a>
        <a href="/es/tag/videojuegos" class="fb-item fb-item--folder" data-tag="videojuegos">
          <span class="fb-item-icon">&#128194;</span>
          <span class="fb-item-name">videojuegos/</span>
        </a>
        <a href="/es/tag/warhammer" class="fb-item fb-item--folder" data-tag="warhammer">
          <span class="fb-item-icon">&#128194;</span>
          <span class="fb-item-name">warhammer/</span>
        </a>
        <a href="/es/tag/wiki" class="fb-item fb-item--folder" data-tag="wiki">
          <span class="fb-item-icon">&#128194;</span>
          <span class="fb-item-name">wiki/</span>
        </a>

        <!-- Files (Special Pages) -->
        <a href="/es/que-es-421/" class="fb-item fb-item--file">
          <span class="fb-item-icon">&#128196;</span>
          <span class="fb-item-name">readme.md</span>
        </a>
        <a href="/es/rutas" class="fb-item fb-item--exec">
          <span class="fb-item-icon">&#128196;</span>
          <span class="fb-item-name">rutas.sh</span>
        </a>
        <a href="/es/canon" class="fb-item fb-item--exec">
          <span class="fb-item-icon">&#128196;</span>
          <span class="fb-item-name">canon.sh</span>
        </a>
        <a href="/es/suscribite" class="fb-item fb-item--exec">
          <span class="fb-item-icon">&#128196;</span>
          <span class="fb-item-name">suscribite.sh</span>
        </a>
        <a href="/es/revista-421" class="fb-item fb-item--file">
          <span class="fb-item-icon">&#128220;</span>
          <span class="fb-item-name">revista.pdf</span>
        </a>
        <a href="/es/ultimos-posts" class="fb-item fb-item--file">
          <span class="fb-item-icon">&#128203;</span>
          <span class="fb-item-name">ultimos.log</span>
        </a>
      </div>

      <!-- List View -->
      <div class="fb-content-list">
        <div class="fb-list-header">
          <span>Nombre</span>
          <span>Tipo</span>
          <span>Modificado</span>
        </div>

        <!-- Main Folders -->
        <a href="/es/tag/cultura" class="fb-list-row" data-tag="cultura">
          <span class="fb-list-name"><i class="fb-icon">&#128193;</i> cultura/</span>
          <span class="fb-list-type">Carpeta</span>
          <span class="fb-list-modified">--</span>
        </a>
        <a href="/es/tag/tecnologia" class="fb-list-row" data-tag="tecnologia">
          <span class="fb-list-name"><i class="fb-icon">&#128193;</i> tecnologia/</span>
          <span class="fb-list-type">Carpeta</span>
          <span class="fb-list-modified">--</span>
        </a>
        <a href="/es/tag/juegos" class="fb-list-row" data-tag="juegos">
          <span class="fb-list-name"><i class="fb-icon">&#128193;</i> juegos/</span>
          <span class="fb-list-type">Carpeta</span>
          <span class="fb-list-modified">--</span>
        </a>
        <a href="/es/tag/vida-real" class="fb-list-row" data-tag="vida-real">
          <span class="fb-list-name"><i class="fb-icon">&#128193;</i> vida-real/</span>
          <span class="fb-list-type">Carpeta</span>
          <span class="fb-list-modified">--</span>
        </a>

        <!-- Secondary Folders -->
        <a href="/es/tag/cripto" class="fb-list-row" data-tag="cripto">
          <span class="fb-list-name"><i class="fb-icon">&#128194;</i> cripto/</span>
          <span class="fb-list-type">Carpeta</span>
          <span class="fb-list-modified">--</span>
        </a>
        <a href="/es/tag/deportes" class="fb-list-row" data-tag="deportes">
          <span class="fb-list-name"><i class="fb-icon">&#128194;</i> deportes/</span>
          <span class="fb-list-type">Carpeta</span>
          <span class="fb-list-modified">--</span>
        </a>
        <a href="/es/tag/filosofia" class="fb-list-row" data-tag="filosofia">
          <span class="fb-list-name"><i class="fb-icon">&#128194;</i> filosofia/</span>
          <span class="fb-list-type">Carpeta</span>
          <span class="fb-list-modified">--</span>
        </a>
        <a href="/es/tag/historieta" class="fb-list-row" data-tag="historieta">
          <span class="fb-list-name"><i class="fb-icon">&#128194;</i> historieta/</span>
          <span class="fb-list-type">Carpeta</span>
          <span class="fb-list-modified">--</span>
        </a>
        <a href="/es/tag/internet" class="fb-list-row" data-tag="internet">
          <span class="fb-list-name"><i class="fb-icon">&#128194;</i> internet/</span>
          <span class="fb-list-type">Carpeta</span>
          <span class="fb-list-modified">--</span>
        </a>
        <a href="/es/tag/libros" class="fb-list-row" data-tag="libros">
          <span class="fb-list-name"><i class="fb-icon">&#128194;</i> libros/</span>
          <span class="fb-list-type">Carpeta</span>
          <span class="fb-list-modified">--</span>
        </a>
        <a href="/es/tag/magic-the-gathering" class="fb-list-row" data-tag="magic-the-gathering">
          <span class="fb-list-name"><i class="fb-icon">&#128194;</i> mtg/</span>
          <span class="fb-list-type">Carpeta</span>
          <span class="fb-list-modified">--</span>
        </a>
        <a href="/es/tag/memes" class="fb-list-row" data-tag="memes">
          <span class="fb-list-name"><i class="fb-icon">&#128194;</i> memes/</span>
          <span class="fb-list-type">Carpeta</span>
          <span class="fb-list-modified">--</span>
        </a>
        <a href="/es/tag/musica" class="fb-list-row" data-tag="musica">
          <span class="fb-list-name"><i class="fb-icon">&#128194;</i> musica/</span>
          <span class="fb-list-type">Carpeta</span>
          <span class="fb-list-modified">--</span>
        </a>
        <a href="/es/tag/peliculas" class="fb-list-row" data-tag="peliculas">
          <span class="fb-list-name"><i class="fb-icon">&#128194;</i> peliculas/</span>
          <span class="fb-list-type">Carpeta</span>
          <span class="fb-list-modified">--</span>
        </a>
        <a href="/es/tag/series" class="fb-list-row" data-tag="series">
          <span class="fb-list-name"><i class="fb-icon">&#128194;</i> series/</span>
          <span class="fb-list-type">Carpeta</span>
          <span class="fb-list-modified">--</span>
        </a>
        <a href="/es/tag/soberania" class="fb-list-row" data-tag="soberania">
          <span class="fb-list-name"><i class="fb-icon">&#128194;</i> soberania/</span>
          <span class="fb-list-type">Carpeta</span>
          <span class="fb-list-modified">--</span>
        </a>
        <a href="/es/tag/tutoriales" class="fb-list-row" data-tag="tutoriales">
          <span class="fb-list-name"><i class="fb-icon">&#128194;</i> tutoriales/</span>
          <span class="fb-list-type">Carpeta</span>
          <span class="fb-list-modified">--</span>
        </a>
        <a href="/es/tag/videojuegos" class="fb-list-row" data-tag="videojuegos">
          <span class="fb-list-name"><i class="fb-icon">&#128194;</i> videojuegos/</span>
          <span class="fb-list-type">Carpeta</span>
          <span class="fb-list-modified">--</span>
        </a>
        <a href="/es/tag/warhammer" class="fb-list-row" data-tag="warhammer">
          <span class="fb-list-name"><i class="fb-icon">&#128194;</i> warhammer/</span>
          <span class="fb-list-type">Carpeta</span>
          <span class="fb-list-modified">--</span>
        </a>
        <a href="/es/tag/wiki" class="fb-list-row" data-tag="wiki">
          <span class="fb-list-name"><i class="fb-icon">&#128194;</i> wiki/</span>
          <span class="fb-list-type">Carpeta</span>
          <span class="fb-list-modified">--</span>
        </a>

        <!-- Files -->
        <a href="/es/que-es-421/" class="fb-list-row">
          <span class="fb-list-name"><i class="fb-icon">&#128196;</i> readme.md</span>
          <span class="fb-list-type">Documento</span>
          <span class="fb-list-modified">--</span>
        </a>
        <a href="/es/rutas" class="fb-list-row">
          <span class="fb-list-name"><i class="fb-icon">&#128196;</i> rutas.sh</span>
          <span class="fb-list-type">Ejecutable</span>
          <span class="fb-list-modified">--</span>
        </a>
        <a href="/es/canon" class="fb-list-row">
          <span class="fb-list-name"><i class="fb-icon">&#128196;</i> canon.sh</span>
          <span class="fb-list-type">Ejecutable</span>
          <span class="fb-list-modified">--</span>
        </a>
        <a href="/es/suscribite" class="fb-list-row">
          <span class="fb-list-name"><i class="fb-icon">&#128196;</i> suscribite.sh</span>
          <span class="fb-list-type">Ejecutable</span>
          <span class="fb-list-modified">--</span>
        </a>
        <a href="/es/revista-421" class="fb-list-row">
          <span class="fb-list-name"><i class="fb-icon">&#128220;</i> revista.pdf</span>
          <span class="fb-list-type">Documento</span>
          <span class="fb-list-modified">--</span>
        </a>
        <a href="/es/ultimos-posts" class="fb-list-row">
          <span class="fb-list-name"><i class="fb-icon">&#128203;</i> ultimos.log</span>
          <span class="fb-list-type">Archivo log</span>
          <span class="fb-list-modified">--</span>
        </a>
      </div>

    </div>
  </div>

  <!-- Status Bar -->
  <div class="fb-statusbar">
    <div class="fb-statusbar-left">
      <span class="fb-statusbar-count"></span>
    </div>
    <div class="fb-statusbar-right">
      <button class="fb-view-btn is-active" data-view="grid" title="Vista cuadr&iacute;cula">&#9783;</button>
      <button class="fb-view-btn" data-view="list" title="Vista lista">&#9776;</button>
    </div>
  </div>
</div>
