<div class="w-embed">
      <style>
*{
border-sizing: border-box;
padding: 0;
margin: 0;}
.wiki-nav_tree {
  scrollbar-width: thin;
  scrollbar-color: #EAE6E1 #121212;
}
/* For WebKit browsers */
.wiki-nav_tree::-webkit-scrollbar {
  width: 23px;
  background-color: #121212;
}
.wiki-nav_tree::-webkit-scrollbar-track {
  background-color: #121212;
}
.wiki-nav_tree::-webkit-scrollbar-thumb {
  background-color: #EAE6E1;
  border-radius: 11.5px; /* Half of the scrollbar width to make it fully rounded */
  border: 1px solid #121212; /* Optional to remove gap between thumb and track */
}
.wiki-nav_tree::-webkit-scrollbar-thumb:hover {
  background-color: #EAE6E1;
}
.wiki-nav_tree::-webkit-scrollbar-thumb:active {
  background-color: #EAE6E1;
}
/* Outline on the left side of the scrollbar */
.wiki-nav_tree::-webkit-scrollbar {
  width: 23px;
  border-left: 1px solid #EAE6E1;
}
.wiki-nav_post{
color: #EAE6E1;}
body.light-mode .wiki-nav_post {
    color: #121212;
}
body.light-mode .wiki_content-display{
color:#EAE6E1;
background-color: #121212;}
.post-card_info:hover + .post-card_overlay {
    mix-blend-mode: difference;
}
body.light-mode .footer_newsletter-form{
background-color: #121212;
}
body.light-mode .form-field{
background-color: #121212;
color:#EAE6E1;
}
body.light-mode .is-newsletter{
border-color: #121212;
color: #121212;
background-color:#EAE6E1;}
@media (max-width: 1279px) and (min-width: 992px) {
    .global-container,
    .rich-text,
    .rich-text p {
        width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .nav-links{
    display: none;}
}
</style>
    </div>