<div class="w-embed">
      <style>
.wiki-nav_tree {
  scrollbar-width: thin;
  scrollbar-color: #EAE6E1 #1a1a1a;
}
/* For WebKit browsers */
.wiki-nav_tree::-webkit-scrollbar {
  width: 23px;
  background-color: #1a1a1a;
}
.wiki-nav_tree::-webkit-scrollbar-track {
  background-color: #1a1a1a;
}
.wiki-nav_tree::-webkit-scrollbar-thumb {
  background-color: #EAE6E1;
  border-radius: 11.5px;
  border: 1px solid #1a1a1a;
}
.wiki-nav_tree::-webkit-scrollbar-thumb:hover {
  background-color: #EAE6E1;
}
.wiki-nav_tree::-webkit-scrollbar-thumb:active {
  background-color: #EAE6E1;
}
/* Outline on the left side of the scrollbar */
.wiki-nav_tree::-webkit-scrollbar {
  width: 23px;
  border-left: 1px solid #EAE6E1;
}
.wiki-nav_post{
color: #EAE6E1;}
body.light-mode .wiki-nav_post {
    color: #1a1a1a;
}
body.light-mode .wiki-nav_tree {
    scrollbar-color: #1a1a1a #EAE6E1;
    border-left-color: #1a1a1a;
}
body.light-mode .wiki-nav_tree::-webkit-scrollbar {
    background-color: #EAE6E1;
    border-left-color: #1a1a1a;
}
body.light-mode .wiki-nav_tree::-webkit-scrollbar-track {
    background-color: #EAE6E1;
}
body.light-mode .wiki-nav_tree::-webkit-scrollbar-thumb {
    background-color: #1a1a1a;
    border-color: #EAE6E1;
}
body.light-mode .wiki_content-display{
color:#1a1a1a;
background-color: #EAE6E1;}
</style>
    </div>