<div class="preview-section bg-gradient">
    <div class="global-container">
        <div class="pv-huge">
            <div id="home-ruta-container" data-lang="es" data-json="{{asset "data/rutas.json"}}">
                <div class="text-center">
                    <h2 class="text-black">Rutas de lectura</h2>
                </div>
            </div>
        </div>
    </div>
</div>