<div class="preview-section home-ruta-section">
    <div class="global-container">
        <div class="pv-huge">
            <div id="home-ruta-container" data-lang="es" data-json="{{asset "data/rutas.json"}}">
                <div class="home-ruta-loading">
                    <h2 class="home-ruta-title">Rutas de lectura</h2>
                </div>
            </div>
        </div>
    </div>
</div>