<div class="preview-section">
    <div class="global-container">
        <div class="pv-huge">
            <div class="last-posts-header">
                <h2 class="last-posts-title">Last posts</h2>
            </div>
            <div class="last-posts-section">
                {{#get "posts"
                    include="tags,authors"
                    filter="primary_tag:{{tag}}+tag:'hash-en'"
                    limit="16"
                    order="published_at desc"
                    as |articles|
                }}
                    {{#if articles}}
                        {{#foreach articles}}
                            {{> "post-card"}}
                        {{/foreach}}
                    {{else}}
                        No posts.
                    {{/if}}
                {{/get}}
            </div>
            <button class="btn-load-more" id="load-more" data-next="{{next}}">
                Load more
            </button>
        </div>
    </div>
</div>
