<div class="preview-section">
    <div class="global-container">
        <div class="pv-huge">
            <div class="preview-section_flex-header pb-small">
                <h2><a href="/es/ultimos-posts/" class="section-title-link">Últimas notas →</a></h2>
            </div>
            <div class="last-posts-section">
                {{#get "posts"
                    include="tags,authors"
                    filter="tag:-'hash-en'+tag:-'hash-satelite'"
                    limit="20"
                    order="published_at desc"
                    as |articles|
                }}
                    {{#if articles}}
                        {{#foreach articles}}
                            {{> "post-card"}}
                        {{/foreach}}
                    {{/if}}
                {{/get}}
            </div>
            <button
                class="button"
                id="load-more-home"
                style="display: block; margin: auto; margin-top: 50px;"
            >
                Cargar más
            </button>
        {{!-- <div class="post-cols w-dyn-list">
            {{> "tps_alt-es" tag="Cultura" slug="cultura"}}
            {{> "tps_alt-es" tag="Tecnología" slug="tecnologia"}}
            {{> "tps_alt-es" tag="Juegos" slug="juegos"}}
            {{> "tps_alt-es" tag="Vida real" slug="vida-real"}}
        </div> --}}
        </div>
    </div>
</div>