<div class="preview-section">
    <div class="global-container">
        <div class="pv-huge">
            <div class="preview-section_flex-header pb-small">
                <h2>Last posts</h2>
            </div>
            <div class="last-posts-section">
                {{#get "posts"
                    include="tags,authors"
                    filter="tag:'hash-en'"
                    limit="16"
                    order="published_at desc"
                    as |articles|
                }}
                    {{#if articles}}
                        {{#foreach articles}}
                            {{> "post-card"}}
                        {{/foreach}}
                    {{/if}}
                {{/get}}
            </div>
            <button
                class="button"
                style="display: block; margin: auto; margin-top: 50px;"
            >
                <a href="/en/last-posts/" style="color: white; text-decoration: none;">
                    See all
                </a>
            </button>
        {{!-- <div class="post-cols w-dyn-list">
            {{> "tps_alt-en" tag="Culture" slug="culture"}}
            {{> "tps_alt-en" tag="Tech" slug="tech"}}
            {{> "tps_alt-en" tag="Games" slug="games"}}
            {{> "tps_alt-en" tag="Real life" slug="real-life"}}
        </div> --}}
        </div>
    </div>
</div>