<div class="preview-section">
    <div class="global-container">
        <div class="pv-huge">
            <div class="last-posts-header">
                <h2 class="last-posts-title"><a href="/es/ultimos-posts/">Últimas notas</a></h2>
                <a href="/es/ultimos-posts/" class="last-posts-more">Ver todas →</a>
            </div>
            <div class="last-posts-section">
                {{#get "posts"
                    include="tags,authors"
                    filter="tag:-'hash-en'+tag:-'hash-zh'+tag:-'hash-ja'+tag:-'hash-ko'+tag:-'hash-tr'+tag:-'hash-pt'+tag:-'hash-fr'+tag:-'hash-satelite'"
                    limit="20"
                    order="published_at desc"
                    as |articles|
                }}
                    {{#if articles}}
                        {{#foreach articles}}
                            {{> "post-card"}}
                        {{/foreach}}
                    {{/if}}
                {{/get}}
            </div>
            <button
                class="btn-load-more"
                id="load-more-home"
            >
                Cargar más
            </button>
        {{!-- <div class="post-cols w-dyn-list">
            {{> "tps_alt-es" tag="Cultura" slug="cultura"}}
            {{> "tps_alt-es" tag="Tecnología" slug="tecnologia"}}
            {{> "tps_alt-es" tag="Juegos" slug="juegos"}}
            {{> "tps_alt-es" tag="Vida real" slug="vida-real"}}
        </div> --}}
        </div>
    </div>
</div>