<!-- Horizontal at the top (default). For a side rail use: class="progress progress--right progress--vertical" -->
<div id="reading-progress" class="progress progress--left progress--vertical" data-target=".rich-text">
  <span class="progress__bar"></span>
</div>
