<!-- sticky subscribe (glass: texto + pill) -->
<a href="/es/suscribite/" class="hero-mobile-suscribite-button" id="hero-mobile-subscribe-button"
   onclick="if(typeof gtag==='function')gtag('event','sticky_subscribe_click',{event_category:'engagement',event_label:location.pathname});">
    <span class="hmsb-text">Sumate a 421</span>
    <span class="hmsb-go">Suscribite</span>
</a>