{{!< default}}


    <link href="{{asset "css/404.css"}}" rel="stylesheet" type="text/css">
    <div class="page-wrapper">
      {{> "general-styling"}} <!-- TODO: Revisar -->
      {{> "site-nav-es"}}
      <main class="main-404">
        <div class="text">
          <h1>Error 404</h1>
          <p>Estamos haciendo algunos cambios en nuestro sitio web. Quizás experimenten algunas turbulencias (links rotos).</p>
          <p class="last-p">No pasa nada, magos en control 🧙‍♂️</p>
        </div>
      </main>

    <!-- FILE BROWSER NAVIGATION -->
    <div class="global-container pt-small pb-small">
      {{> "file-browser"}}
    </div>
      {{> "site-footer"}}

    </div>
