{{!< default}}

    <link href="{{asset "css/suscribite.css"}}" rel="stylesheet" type="text/css">
    <div class="page-wrapper">
      {{> "general-styling"}}
      {{> "site-nav-es"}}

      <div class="subscription-section">
        <main class="global-container" style="margin-bottom: 50px;">
          <div class="pv-huge">
            <h2
              class="title"
              style="
                text-align: center;
                margin-top: 50px;
              "
            >
              ¡Gracias por suscribirte!
            </h2>
          </div>
        </main>
      </div>
    </div>

    <!-- FILE BROWSER NAVIGATION -->
    <div class="global-container pt-small pb-small">
      {{> "file-browser"}}
    </div>
    {{> "site-footer"}}
