{{!< default}}
<div style="display:flex;align-items:center;justify-content:center;min-height:100vh;background:var(--negro);">
  <img src="{{asset "images/favicon.svg"}}" alt="421" style="width:80px;opacity:0.5;" />
</div>
