{{!< default}}


  <div class="page-wrapper">
    {{> "site-nav-es"}}
    <main style="min-height: 80vh;">
      <div class="pv-xhuge">
        <div class="global-container">
          <div class="page-hero">
            {{#page}}
              <h1 class="flashy-h1">{{title}}</h1>
              {{#if feature_image}}
                <img src="{{feature_image}}" loading="lazy" alt="{{title}}" class="page-hero_img">
              {{/if}}
            {{/page}}
          </div>
          <div class="pt-medium">
            <div class="rich-text w-richtext">{{#page}}{{content}}{{/page}}</div>
          </div>
        </div>
      </div>
    </main>
    <!-- FILE BROWSER NAVIGATION -->
    <div class="global-container pt-small pb-small">
      {{> "file-browser"}}
    </div>
    {{> "site-footer"}}
  </div>
