{{!< default}}


  <div class="page-wrapper">
    {{> "site-nav-en"}}
    <main style="min-height: 80vh;">
      {{#page}}
        {{> "section-hero"
            eyebrow="421 · page"
            title=title
            tesis=excerpt}}
      {{/page}}
      <div class="pv-large">
        <div class="global-container">
          {{#page}}
            {{#if feature_image}}
              <img src="{{feature_image}}" loading="lazy" alt="{{title}}" class="page-hero_img">
            {{/if}}
          {{/page}}
          <div class="pt-medium">
            <div class="rich-text w-richtext">{{#page}}{{content}}{{/page}}</div>
          </div>
        </div>
      </div>
    </main>
    <!-- FILE BROWSER NAVIGATION -->
    <div class="global-container pt-small pb-small">
      {{> "file-browser-en"}}
    </div>
    {{> "site-footer"}}
  </div>
