{{!< default}}
{{> "breadcrumb-tag" tagName="Juegos"}}

  <div class="page-wrapper">
    {{> "general-styling"}}
    {{> "site-nav-es"}}
    <main>
      <!-- TAG HERO (featured + intro) -->
      {{> "tag-hero-section" tagSlug="juegos" languageFilter="-'hash-en'" eyebrow="Tema" postsLabel="notas"}}

      <!-- LAST POSTS -->
      {{> "last-posts-es-tag" tag="juegos"}}

    </main>

    <!-- FILE BROWSER NAVIGATION -->
    <div class="global-container pt-small pb-small">
      {{> "file-browser"}}
    </div>
    {{> "site-footer"}}

  </div>
  <script src="{{asset "js/pagination.js"}}" defer></script>
