{{!< default}}
{{> "breadcrumb-tag" tagName="Tech" lang="en"}}

  <div class="page-wrapper">
    {{> "general-styling"}}
    {{> "site-nav-en"}}
    <main>
      <!-- TAG HERO (featured + intro) -->
      {{> "tag-hero-section" tagSlug="tech" languageFilter="'hash-en'" eyebrow="Topic" postsLabel="posts"}}

      <!-- LAST POSTS -->
      {{> "last-posts-en-tag" tag="tech"}}

    </main>

    <!-- FILE BROWSER NAVIGATION -->
    <div class="global-container pt-small pb-small">
      {{> "file-browser-en"}}
    </div>
    {{> "site-footer" lang="en"}}

  </div>
  <script src="{{asset "js/pagination.js"}}" defer></script>
