{{!< default}}
{{> "breadcrumb-tag" tagName="Real Life" lang="en"}}

  <div class="page-wrapper">
    {{> "general-styling"}}
    {{> "site-nav-en"}}
    <main>
      <!-- FEATURED POST -->
      {{> "tag-page-featured-post" slug="real-life" languageFilter="'hash-en'"}}

      <!-- HIGHLIGHTED POSTS -->
      {{> "tag-page-highlighted-posts-en" tag="real-life" languageFilter="'hash-en'"}}

      <!-- LAST POSTS -->
      {{> "last-posts-en-tag" tag="real-life"}}

    </main>

    <!-- FILE BROWSER NAVIGATION -->
    <div class="global-container pt-small pb-small">
      {{> "file-browser-en"}}
    </div>
    {{> "site-footer" lang="en"}}

  </div>
  <script src="{{asset "js/pagination.js"}}" defer></script>
