{{!< default}}
{{> "breadcrumb-tag" tagName="Juegos"}}

  <div class="page-wrapper">
    {{> "general-styling"}}
    {{> "site-nav-es"}}
    <main>
      <!-- FEATURED POST -->
      {{> "tag-page-featured-post" slug="juegos" languageFilter="-'hash-en'"}}

      <!-- HIGHLIGHTED POSTS -->
      {{> "tag-page-highlighted-posts-es" tag="juegos" languageFilter="-'hash-en'"}}

      <!-- LAST POSTS -->
      {{> "last-posts-es-tag" tag="juegos"}}

    </main>

    <!-- FILE BROWSER NAVIGATION -->
    <div class="global-container pt-small pb-small">
      {{> "file-browser"}}
    </div>
    {{> "site-footer"}}

  </div>
  <script src="{{asset "js/pagination.js"}}" defer></script>
