{{!< default}}
{{> "breadcrumb-tag" tagName="Películas"}}

  <div class="page-wrapper">
    {{> "general-styling"}}
    {{> "site-nav-es"}}
    <main>
      <div style="margin-top: 50px"></div>
      <!-- LAST POSTS -->
      {{> "last-posts-es-secondary-tag" tag="peliculas"}}

    </main>

    <!-- FILE BROWSER NAVIGATION -->
    <div class="global-container pt-small pb-small">
      {{> "file-browser"}}
    </div>
    {{> "site-footer"}}

  </div>
  <script src="{{asset "js/pagination.js"}}" defer></script>
