{{!< default}}
{{> "breadcrumb-tag" tagName="Música"}}

  <div class="page-wrapper">
    {{> "general-styling"}}
    {{> "site-nav-es"}}
    <main>
      <div style="margin-top: 50px"></div>
      <!-- LAST POSTS -->
      {{> "last-posts-es-secondary-tag" tag="musica"}}

      <!-- WIKI -->
      {{!-- {{> "wiki-section-es"}} --}}

    </main>

    <!-- FILE BROWSER NAVIGATION -->
    <div class="global-container pt-small pb-small">
      {{> "file-browser"}}
    </div>
    {{> "site-footer"}}

  </div>
  <script src="{{asset "js/pagination-next.js"}}" defer></script>
