{{!< default}}
{{> "breadcrumb-tag" tagName="Wiki"}}

{{#tag}}
  <div class="page-wrapper">
    {{> "general-styling"}}
    {{> "site-nav-es"}}
    <main>
      {{> "tag-page-highlighted-posts-es"}}
      <!-- GENERAL POST PREVIEWS -->
      <div class="preview-section">
        <div class="global-container">
          <div class="pv-huge">
            {{#get "posts" limit="all" include="tags,authors" filter="tag:{{slug}}" order="published_at desc" as |items|}}
              <div class="post-grid w-dyn-list">
                {{#if items}}
                  <div role="list" class="post-cols w-dyn-items" id="post-container">
                    {{#foreach items}}
                      {{> "post-card"}}
                    {{/foreach}}
                  </div>
                {{/if}}
                {{#unless items}}
                  <div class="display-none"></div>
                {{/unless}}
              </div>
            {{/get}}
          </div>
        </div>
      </div>
     {{> "banner"}}
    </main>
    <!-- FILE BROWSER NAVIGATION -->
    <div class="global-container pt-small pb-small">
      {{> "file-browser"}}
    </div>
    {{> "site-footer"}}
  </div>
{{/tag}}