{{!< default}}
{{> "breadcrumb-tag" tagName="El Canon"}}

  <div class="page-wrapper">
    {{> "general-styling"}}
    {{> "site-nav-es"}}
    <main>
      <!-- FEATURED POST -->
      {{> "tag-page-featured-post" slug="el-canon" languageFilter="-'hash-en'"}}

      <!-- LAST POSTS -->
      {{> "last-posts-es-secondary-tag" tag="el-canon"}}

    </main>

    <!-- FILE BROWSER NAVIGATION -->
    <div class="global-container pt-small pb-small">
      {{> "file-browser"}}
    </div>
    {{> "site-footer"}}

  </div>
  <script src="{{asset "js/pagination.js"}}" defer></script>
