<!DOCTYPE html>
<html lang="es">
  <head>
    <title>421 | Dev</title>
    <meta charset='utf-8' />
    <meta content='width=device-width, initial-scale=1' name='viewport' />
    <link href='https://fonts.googleapis.com' rel='preconnect' />
    <link href='https://fonts.gstatic.com' rel='preconnect' crossorigin='anonymous' />
    <link href='https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;1,400;1,700;1,800&family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap' rel='stylesheet' />
    <link href='/assets/images/favicon.svg' rel='shortcut icon' type='image/x-icon' />
    <link href='/assets/css/udesly-ghost.css' rel='stylesheet' />
    <link href='/assets/css/normalize.css' rel='stylesheet' />
    <link href='/assets/css/globals.css' rel='stylesheet' />
    <link href='/assets/css/site-nav.css' rel='stylesheet' />
    <link href='/assets/css/index.css' rel='stylesheet' />
    <link href='/assets/css/progress-bar.css' rel='stylesheet' />
    <link href='/assets/css/file-browser.css' rel='stylesheet' />
    <link href='/assets/css/window-manager.css' rel='stylesheet' />
    <script src="/assets/js/render-card.js"></script>
  </head>
  <body>
    {{{body}}}

    {{> "site-footer"}}

    <script src='/assets/js/udesly-ghost.min.js' defer></script>
    <script src='/assets/js/light-mode.js' defer></script>
    <script src='/assets/js/hide-show-nav.js' defer></script>
    <script src='/assets/js/file-browser.js' defer></script>
  </body>
</html>
